.home-slider{
    background: url(../images/Immagine-slide.png);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    object-fit: cover;
}
html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: angleciaprodisplay !important;
    src: url(assets/font/anglecia-pro-display.otf)!important;
}
body{
    font-family: AngleciaProDisplay !important;
}
.nav-menu .logo-inner{

    display: none;
}
.nav-menu.open .logo{
    display: none !important;
}
.open .logo-inner{
    display: block;
}
img.logo-inner {
    margin-top: 33px;
    margin-left: 30px;
}

.logo , .logo-inner {
    margin-left: 15px;
}

/* Quick Style Setup */
body {
    margin: 0;
    width: 100%;
    height: 700px;
    background: #f1f1f1
}
h1 {
    margin: 0;
    padding: 18px 20px;
    font-family: 'Open Sans', Helvetica;
    font-size: 30px;
}
p {
    position: inherit;
    width: 100%;
    top: 0;
    margin: 5px 0;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    cursor: pointer;
    color: #fff !important;
}
/* Relative Code Starts Here */
.nav-menu {
    background: none;
    width: 60px;
    height: 80px;
    top: 0;
    right: 15px;
    -webkit-transition: width 0.2s ease, height 0.4s ease;
    -moz-transition: width 0.2s ease, height 0.4s ease;
    -o-transition: width 0.2s ease, height 0.4s ease;
    transition: width 0.2s ease, height 0.4s ease;
}
.open {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 99;
}
.menu-list {
    margin-top: 100px;
    text-align: center;
    font-family: 'Open Sans', Helvetica;
    font-size: 30px;
    opacity: 0;
}
.menu-list.list-open ul {
    text-align: center;
    display: inline-block;
}
.list-open {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.64s ease;
    -webkit-transition-delay: 0.34s;
    -moz-transition-delay: 0.34s;
    -o-transition-delay: 0.34s;
    transition-delay: 0.34s;
}
.menu-list li {
    padding: 10px;
    background: none;
    color: #fff;
}
.menu-list li:hover {
    background: transparent;
    color: #39D;
    cursor: pointer;
}
li .social-icons:hover {
    background: none;
}
.social-icons {
    margin-top: 20px;
    font-size: 24px
}
.social-icons a {
    margin: 18px;
    color: #fff;
}
/* Burger */
#burger-wrap {
    position: absolute;
    top: 10px;
    right: 15px;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 80px;
}
.burger {
    top: 9px;
    right: 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 80px;
    border-radius: 50%;
    border: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: transparent;
}
.burger span {
    display: block;
    position: absolute;
    top: 30px;
    left: 16px;
    right: 16px;
    height: 3px;
    background: #fff;
    border-radius: 15px;
    -webkit-transition: background 0.3s .3s;
    transition: background 0.3s .3s;
    -o-transition: background 0s 0s;
    -webkit-transition-delay: 0.4s,0s;
    transition-delay: 0.4s,0s;
}
.open .burger span {
    background: 0 0 transparent;
    transform: rotate(90deg);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -o-transition: all 0s ease;
    -webkit-transition-delay: 0s,0s;
    transition-delay: 0s,0s;
}
.burger span::after,
.burger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
    border-radius: 5px;
    -webkit-transition-duration: .3s,.3s;
    transition-duration: .3s,.3s;
    -webkit-transition-delay: 0.4s,0s;
    transition-delay: 0.4s,0s;
}
.burger span::before {
    top: -8px;
    -webkit-transition-property: top,-webkit-transform;
    transition-property: top,transform;
}
.burger span::after {
    bottom: -8px;
    -webkit-transition-property: bottom,-webkit-transform;
    transition-property: bottom,transform;
}

.open .burger span::after,
.open .burger span::before {
    -webkit-transition-delay: 0s,.4s;
    transition-delay: 0s,.4s;
    background-color: #fafafa;
}
.open .burger span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open .burger span::after {
    bottom: 1px; /* Fix for codepen, set to zero for normal use */
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* Disable scrollbar on Chrome and Safari browsers! */
html::-webkit-scrollbar { width: 0 !important; height: 0 !important; }



.accordion {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    display: inline-block;
    outline: none;
    font-size: 40px;
    transition: 0.4s;
    padding-top: 0;
}

.active, .accordion:hover {
    background-color: transparent; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: transparent !important;
    overflow: hidden;
    box-shadow: none !important;
    margin-bottom: 0 !important;
}
.panel div a {
    font-size: 20px !important;
}
.accordion.active {
    padding-bottom: 0px;
    text-decoration: underline;
    text-decoration-color: #E75031;
}
.slider_footer {
    display: flex;
    margin-top: 2%;
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
}
.slider_footer .col-6 {
    text-align: left;
    width: 100%;
    padding-left: 42px !important;
}
.slider_footer .col-6 h4{
    color: #fff;
}
.slider_footer .col-6 i{
    padding-left: 17px;
}

.slide_titl h1 {
    transform: translate(0%, 180px);
}

.slide_titl h1 {
    width: 100% !important;
    color: #fff;
    font-size: 80px;
    text-align: center;    
}
.search-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    right: 1%;;
}

.search-wrapper .input-holder {    
    height: 70px;
    width:70px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:250px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:70px;
    height:70px;
    border:none;
    border-radius:6px;
    background: transparent;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:46px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute; 
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #fff;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #fff;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
    opacity: 1 !important;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FE5F55;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
    background: #fff;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
    background: #fff;
}
.close{
    display: none;
}
.search-wrapper.active .close{
    display: block;
}
.slide_d_arrow {
    position: absolute;
    bottom: 3%;
    left: 50%;
}
.slide_d_arrow i {
    font-size: 33px;
}
.slide_top{
    text-align: center;
}
.slide_top p {
    color: #fff;
    font-size: 11px;
    background: #E65031;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 18%;
    padding: 4px;
    font-weight: 600;
    margin-top: 0;
}
.slide_top {
    display: flex;
    justify-content: center;
}
.catagory_section{
    margin-top: 75px;
}
.catagory_section img , .lifestyle_sec img , .subscribe_sec img {
    width: 100%;
    position: relative;
}
.catagory_section p {
    position: absolute;
    transform: translate(0%);
    top: 39%;
    left: 21%;
    font-size: 28px;
    border: 5px solid #000;
    width: 56%;
    font-weight: 600;
    color: #000;
    padding: 13px 12px;
    z-index: 9;
    transition: 0.6s;
}
.overlay {
    position: absolute;
    top: 8%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 84%;
    width: 73%;
    margin: 0 auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

.img_shdo2 .overlay {
    position: absolute;
    top: 11.6%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 78%;
    width: 90%;
    margin: 0 auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

.img_shdo:hover .overlay {
    opacity: 0.8;
}
.img_shdo2:hover .overlay {
    opacity: 0.8;
}
.img_shdo:hover p{

    color: #fff;
    border-color: #fff;
}

.lifestyle_sec{
    margin-top: 50px;
}
.lifestyle_sec img{
    width: 100%;
}
.lifestyle_sec p {
    position: absolute;
    top: 38%;
    left: 38%;
    font-size: 28px;
    border: 5px solid #fff;
    width: 23%;
    font-weight: 600;
    color: #fff;
    padding: 0px 71px;
    z-index: 9;
    transition: 0.5s;
}
.lifestyle_sec p:hover{
    transform: scale(1.1);
}
.subscribe_sec{
    margin-top: 50px;
}
.subscribe_sec p {
    font-size: 30px;
    color: #fff;
    transition: 0.5s;
    text-align: left;
}
.sub_span {
    font-size: 45px;
    color: #fff;
}
.sub_form{

    background: #000;
}
.sub_form {
    background: #000;
    padding: 34px;
    position: relative;
}
.sub_form h3 {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}
.sub_form h4 {
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    padding-top: 5px !important;
}
.sub_form input {
    background: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 32px;
    outline: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
.sub_form i {
    position: absolute;
    color: #fff;
    font-size: 20px;
    bottom: 104px;
    right: 44px;
}
form input {
    width: 7% !important;
}
form {
    margin-top: 10px;
}
form label {
    color: #fff;
}
.sub_img_sec {
    background: url(../images/sub_img.png);
    padding: 69px 38px;
    background-position: bottom;
    cursor: pointer;
}
.sub_img_sec , .sub_form{
    transition: 0.4s;
}
.sub_img_sec:hover{
    outline: 3px solid #fff;
    outline-offset: -25px;
}
.sub_form:hover {
    outline: 3px solid #fff;
    outline-offset: -18px;
}
.footer {
    background: #000;
    padding: 50px;
    padding-bottom: 5px;
    margin-top: 75px;
    width: 100%;
}
.foot_top {
    text-align: center;
}
.foot_head {
    font-size: 23px;
    color: #fff;
    margin-bottom: 18px !important;
}
.foot_first_col , .foot_second_col , .foot_three_col , .foot_fourth_col {
    text-align: center;
}
.foot_fourth_col{
    border: 0 !important;
}
.foot_first_col ul li a {
    font-size: 18px;
}
.foot_first_col ul li i {
    margin-right: 11px;
}
.foot_second_col ul {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.foot_second_col i {
    font-size: 30px;
}
.foot_middle {
    margin-top: 75px;
}
.foot_three_col input {
    background: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 32px;
    outline: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
.foot_three_col i {
    position: absolute;
    color: #fff;
    font-size: 20px;
    bottom: 33%;
    right: 13%;
}
.foot_fourth_col ul{
    display: flex;
    justify-content: space-between;
}
.foot_fourth_col ul li a img {
    padding: 0;
    width: 50px;
    margin-top: 20px;
}
.foot_middle .col-md-3 {
    border-right: 2px solid #fff;
}
.foot_middle .col-md-3 {
    border-right: 2px solid #fff;
    min-height: 190px !important;
    padding: 0 35px;
}
.foot_last p {
    font-size: 20px;
    color: #fff;
    margin-top: 50px;
}
.foot_bottom {
    margin-top: 50px;
}
.foot_bottom p {
    font-size: 20px;
    color: #fff;
}
.top_line{
    position: relative;
}
.top_line:before {
    position: absolute;
    content: " ";
    top: 45%;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
}
/*div#top-nav {
    display: none;
}*/

.categori_page .home-slider {
    height: 60vh;
}
.categori_page .home-slider h1 {
    text-align: left;
    transform: inherit;
}
.categori_page .home-slider .slide_d_arrow {
    display: none;
}

/*------------ media-section -------------*/
@media(max-width: 767px){
    .logo {
        width: 62%;
    }
    .logo, .logo-inner {
        margin-top: 22px;
        margin-left: 4px;
    }
    .search-wrapper {
        top: 5%;
        right: 0%;
    }
    #burger-wrap {
        top: 5px;
        right: 0px;
    }
    button.accordion.active {
        font-size: 28px;
    }
    .accordion {
        font-size: 28px;
        padding: 12px 0;
    }
    .slider_footer .col-6 h4 {
        font-size: 18px;
    }
    .slider_footer .col-6 i {
        padding-left: 0px;
    }
    .logo-inner {
        width: 60%;
    }
    .nav-menu .logo-inner{

        display: none;
    }
    .nav-menu.open .logo{
        display: none !important;
    }
    .open .logo-inner{
        display: block;
    }
    .slide_titl h1 {
        font-size: 65px;
    }
    .slide_top {
        display: none;
    }
    img.logo-inner {
        margin-top: 20px;
    }
    .open .burger span::after, .open .burger span::before {
        background-color: #E24E30;
    }
    .cust_index {
        font-size: 45px !important;
        margin-top: -26px !important;
    }
    .home-slider {
        background-position: 30%;
    } 
    .catagory_section img, .lifestyle_sec img, .subscribe_sec img {
        margin: 12px 0;
    }
    .lifestyle_sec p {
        top: 35%;
        left: 14%;
        font-size: 24px;
        border: 3px solid #fff;
        width: 70%;
        padding: 10px 0px;
    }
    .img_shdo2 img {
        height: 156px;
    }
    .sub_img_sec {
        margin-bottom: 30px;
    }
    .foot_middle .col-md-3 {
        border-bottom: 2px solid #fff;
        border-right: 0;
        min-height: 156px !important;
        padding-bottom: 20px;
        padding-top: 20px !important;
    }
    .foot_fourth_col ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .foot_fourth_col {
        padding: 0 !important;
    }
    .foot_fourth_col ul li a img {
        width: 85%;
    }
    .foot_last p {
        font-size: 16px;
    }
    .foot_bottom {
        margin-top: 33px;
    }    
    .top_line:before {
        top: 18%;
    }
    .foot_bottom p {
        font-size: 18px;
        color: #fff;
    }
    .foot_three_col i {
        bottom: 17%;
    }
}  
@media(max-width: 424px){
    .search-wrapper.active .close {
        right: -30px;
    }
    .search-wrapper.active .input-holder {
        width: 180px;
    }
}    
/*------------ media-section -------------*/